body{
    font-family: 'Poppins', sans-serif;
}
.banner-img{border-radius: 50%;
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.banner-subtitel{
    font-size: 16px;
    font-weight: 700;
}

.banner-titel{
font-size: 65px;
font-weight: 700;
}

.myicon{color:#0D6EFD}

.show-card:hover{ box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb),.175)!important;

}


.card:hover .Design-img{
    transform: scale(1.2);
}

.Design-img{
transition: all .7s;
width: 304px;
    height: 204px;
}

.card{
    overflow: hidden;
    transition: all .2s;
}

.kitchen{
    font-size: 25px;
    font-weight: 800;
}